
table {
  border-collapse: collapse;
  border: 2px solid black;
}

td {
  padding:5px;

  padding-right: 90px;
  border: 1px solid lightgray;
}

th {
  padding: 5px;
  border: 1px solid black;
}